# Rules file for the vfzsdr device driver
ACTION=="add", KERNEL=="vfzsdr", SUBSYSTEM=="sdr", GROUP="i2c", MODE="0444", RUN+="/bin/chgrp -R i2c /sys/class/sdr/vfzsdr/"
ACTION=="remove", KERNEL=="vfzsdr", SUBSYSTEM=="sdr"
